<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- hibernate entities -->
	<bean id="ca0" class="pt.paginasamarelas.dataLayer.hibernate.entities.ca0"></bean>
	<bean id="extadvert" class="pt.paginasamarelas.dataLayer.hibernate.entities.ExtAdvert"></bean>
	<bean id="extbusinessaddress" class="pt.paginasamarelas.dataLayer.hibernate.entities.ExtBusinessAddress"></bean>
	<bean id="extbusinessphone" class="pt.paginasamarelas.dataLayer.hibernate.entities.ExtBusinessPhone"></bean>
	<bean id="extcustomadcopy" class="pt.paginasamarelas.dataLayer.hibernate.entities.ExtCustomAdcopy"></bean>
	<bean id="extcustomkeyword" class="pt.paginasamarelas.dataLayer.hibernate.entities.ExtCustomKeyword"></bean>
	<bean id="extgeoloc" class="pt.paginasamarelas.dataLayer.hibernate.entities.ExtGeoloc"></bean>
	<bean id="extlinkedadcopy" class="pt.paginasamarelas.dataLayer.hibernate.entities.ExtLinkedAdcopy"></bean>
	<bean id="extlinkedkeyword" class="pt.paginasamarelas.dataLayer.hibernate.entities.ExtLinkedKeyword"></bean>
	<bean id="extSitelink" class="pt.paginasamarelas.dataLayer.hibernate.entities.ExtSitelink"></bean>
	<!-- hibernate entities -->
	
	<!-- pojo entities -->
	<bean id="advertiser" class="pt.paginasamarelas.dataLayer.entities.Advertiser"></bean>
	<bean id="advertiserID" class="pt.paginasamarelas.dataLayer.entities.AdvertiserID"></bean>
 	<bean id="businessaddress" class="pt.paginasamarelas.dataLayer.entities.BusinessAddress"></bean>
	<bean id="budget" class="pt.paginasamarelas.dataLayer.entities.Budget"></bean>
	<bean id="location" class="pt.paginasamarelas.dataLayer.entities.Location"></bean>
	<bean id="locationID" class="pt.paginasamarelas.dataLayer.entities.LocationId"></bean>
	<bean id="geographictarget" class="pt.paginasamarelas.dataLayer.entities.GeographicTarget"></bean>
	<bean id="categoryref" class="pt.paginasamarelas.dataLayer.entities.CategoryRef"></bean>
	<bean id="customadcopy" class="pt.paginasamarelas.dataLayer.entities.CustomAdCopy"></bean>
	<bean id="customkeyphrase" class="pt.paginasamarelas.dataLayer.entities.CustomKeyphrase"></bean> 
	<bean id="postalcoderadius" class="pt.paginasamarelas.dataLayer.entities.PostalCodeRadius"></bean>
	<bean id="sitelink" class="pt.paginasamarelas.dataLayer.entities.Sitelink"></bean>
	
	
	<!-- pojo entities -->
	
	
	<bean id="advertiserCreator" class="pt.paginasamarelas.logicLayer.operations.AdvertiserCreator"></bean>
	<bean id="queryCampaignDB" class="pt.paginasamarelas.logicLayer.operations.QueryCampaignDB"></bean>
</beans>
